
@mixin easeOut{
    transition: all 0.5s ease-out;
}
body{
    background: #000000;
    text-align: center;
    max-width: 400px;
    margin: 2rem auto;
}
.container{
    max-width: 600px;
}
h1{
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1rem;
}
h2{
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 1rem;
  margin-bottom: 0;
}
p{
    font-family: 'B612', Arial, Helvetica, sans-serif;
}
h1, h2{
    color: #FFFFFF;
}
a {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background: white;
    font-size: 1.5rem;
    width: 10rem;
    text-decoration: none;
    color: initial;
    padding: 0.5rem;
    margin-top: 1rem;
}
.imgContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
.charImg{
  width: 100%;
}
.choice{
    @include easeOut;
    width: 92%;
    padding: 0.5rem;
    background: rgba(255, 0, 0, 1);
}
.gm{
    @include easeOut;
    width: 92%;
    padding: 0.5rem;
    background: rgba(0, 255, 0, 1);
        
    
}
.menu{
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;

    &.show{
        visibility: visible;
    }
}
